* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 700;
  background-color: #01497c;
}

.converter-container {
  width: 100%;
  max-width: 700px;
  margin: 100px auto;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0px 0px 10px 0px rgba(3, 3, 3, 1);
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 200px;
  height: 200px;
  background-image: url(./assets/logo.png);
}

.converter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 250px;
  padding: 50px 0;
  width: 80%;
}

.currency-settings-container,
.result {
  padding: 10px;
  border-radius: 5%;
  box-shadow: 0px 0px 10px 0px rgba(3, 3, 3, 1);
}

select {
  border: none;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 700;
}

.currency-settings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.currency-settings {
  display: flex;
  justify-content: space-around;
}

.amount-pln {
  border: none;
  width: 50%;
  border-bottom: 1px solid black;
  font-family: "Roboto";
  font-size: 25px;
  text-align: center;
}

.calculate-btn {
  box-sizing: border-box;
  padding: 10px 50px;
  margin-top: 10px;
  background-color: #01497c;
  color: white;
  border-radius: 5%;
  box-shadow: 0px 0px 5px 0px rgba(3, 3, 3, 1);
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 700;
}

.result {
  display: flex;
  justify-content: space-around;
}

/* Media Queries */
@media screen and (min-width: 530px) {
  .currency-settings-container {
    flex-direction: row;
  }
  .calculate-btn {
    margin-top: 0;
  }
}
